mixin mainHeaderBtNav(title, href)
    a.main-header__a(href=href, title='View #{title}').thin=title

mixin mainHeaderBtIcon(title, href, logo)
    a(href=href, title='View #{title}')=logo

mixin headerSection(desc, title, modifier)
    header.header(class='header--#{modifier}')
        h3.header__desc.light--italic(data-distance='[0.02, 0.02]')=desc
        h2.header__tit.bold(data-distance='[0.04, 0.04]')!=title

mixin gridSmallLink(title, srcImg, href, icon)
    a.grid__small__link.bold(href=href, title='View #{title}')
        .container-fluid.grid__small__thumb.flex-center(style='background-image:url(#{srcImg})')
            span.grid__small__gradient.full
            span.grid__small__hover.grid__small__icon: i.fa(aria-hidden="true", class='fa-#{icon}')
            span.grid__small__hover.grid__small__title=title

mixin statsCol(number, title)
    .stats__col.flex-center
        span.stats__number.bold=number
        span.stats__title.flex-center=title

mixin logosCol(title, srcImg)
    .logo__col
        img.center(src=srcImg, alt=title)

mixin gridBig(title, subtitle, srcImg, href, icon, modifier)
    a.grid__big__row.flex-center(href=href, title='View #{title}', style="background-image:url(#{srcImg});", class='grid__big__row--#{modifier}')
            .grid__big__hover.grid__big__icon: i.fa(aria-hidden="true", class='fa-#{icon}')
            .grid__big__hover.grid__big__title.thin=title
            .grid__big__hover.grid__big__subtitle.light--italic=subtitle
            span.grid__big__gradient.full